# Maven
target/

# Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Compiled class files
*.class

# Logs
*.log

# OS files
.DS_Store

# Build directories
build/