<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Password Validator Suite">

    <test name="Positive Password Validation Tests">
        <groups>
            <run>
                <include name="positiveValidation"/>
            </run>
        </groups>

        <classes>
            <class name="test.PositivePasswordTest"/>
        </classes>
    </test>

    <test name="Negative Password Validation Tests">
        <groups>
            <run>
                <include name="negativeValidation"/>
            </run>
        </groups>

        <classes>
            <class name="test.NegativePasswordTest"/>
        </classes>
    </test>

    <test name="Error Validation Tests">
        <groups>
            <run>
                <include name="errorValidation"/>
            </run>
        </groups>

        <classes>
            <class name="test.PasswordErrorTest"/>
        </classes>
    </test>

</suite>